.btn-primary{
    color: white;
}

.heroText{
    color: #007bff;
}

.hidden {
    display:none;
}

body{
    /* Move down content because we have a fixed navbar that is 3.5rem tall */
    padding-top: 3.5rem;
    /*center*/
    margin-left: auto; 
    margin-right: auto;
    width: 80%
}

img{
    border: 2px solid lightgrey;
    border-radius: 5px;
    padding: 3px;
}

label{
    width: fit-content;
}

label span{
    color: blue;
    white-space: nowrap;
}

li{
    font-size: smaller;
}

p{
    font-size: smaller;
}