/* The two input declarations below are from the show hide concept in CSS shamelessly lifted from the Hidden Radio Buttons comment on https://stackoverflow.com/questions/17731457/hide-show-content-list-with-only-css-no-javascript-used */
input#show1:checked ~ span#content1{
    display:block;
}

input#hide1:checked ~ span#content1{
    display:none;
}

/* The span declaration below is from the show hide concept in CSS shamelessly lifted from the Hidden Radio Buttons comment on https://stackoverflow.com/questions/17731457/hide-show-content-list-with-only-css-no-javascript-used */
span#content1{
    display:none;
}